@using AppConsig.Web.Base.Helpers
@model ConsignatariaEditModel
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMap.CurrentNode.Title;
    ViewBag.Description = Html.MvcSiteMap().SiteMap.CurrentNode.Description;
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="widget">
            <div class="widget-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Sigla, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control w-1", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Codigo, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control w-1", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CNPJ, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control w-2", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TipoRepresentante, new { @class = "control-label" })
                        @Html.CustomEnumDropDownListFor(m => m.TipoRepresentante, "Escolha uma opção...", new { @class = "form-control w-2", disabled = "disabled" })
                    </div>
                <div class="form-group">
                    @Html.ActionLink("Editar", "Editar", new { id = @Model.Id }, new { @class = "btn btn-link" })
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    </div>
</div>