@model MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="nav sidebar-menu">
    @ShowMenu(Model.Nodes)
</ul>

@helper ShowMenu(IEnumerable<SiteMapNodeModel> menuItems)
{
    foreach (var node in menuItems)
    {
        var nodeclass = "";
        if (node.IsInCurrentPath)
        {
            nodeclass = "active";
        }
        if (node.Children.Any(n => n.IsInCurrentPath))
        {
            nodeclass = "active open";
        }
        else if (node.Children.Any())
        {
            foreach (var c in node.Children)
            {
                if (c.Children.Any())
                {
                    if (c.Children.Any(n => n.IsInCurrentPath))
                    {
                        nodeclass = "active open";
                    }
                }
            }
        }
        <li class="@(!string.IsNullOrEmpty(nodeclass) ? Html.Raw(nodeclass) : null)">
            @if (node.Children.Any())
            {
                <a class="menu-dropdown" href="@(!string.IsNullOrEmpty(node.Url) ? Html.Raw(node.Url) : Html.Action(node.Action, node.Controller))">
                    @if (!string.IsNullOrEmpty(node.Attributes["icon"].ToString()))
                    {
                        <i class="menu-icon @Html.Raw(node.Attributes["icon"])"></i>
                    }
                    <span class="menu-text">@Html.Raw(node.Title)</span>
                    <i class="menu-expand"></i>
                </a>
            }
            else
            {
                <a href="@(!string.IsNullOrEmpty(node.Url) ? Html.Raw(node.Url) : Html.Action(node.Action, node.Controller))">
                    @if (!string.IsNullOrEmpty(node.Attributes["icon"].ToString()))
                    {
                        <i class="menu-icon @Html.Raw(node.Attributes["icon"])"></i>
                    }
                    <span class="menu-text">@Html.Raw(node.Title)</span>
                </a>
            }
            @if (node.Children.Any())
            {
                <ul class="submenu">
                    @ShowMenu(node.Children)
                </ul>
            }
        </li>
    }
}