@model PagedList.IPagedList<ServidorListModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMap.CurrentNode.Title;
    ViewBag.Description = Html.MvcSiteMap().SiteMap.CurrentNode.Description;
}
<div class="row">
    <div class="hidden-sm col-md-12 col-lg-12">
        <div class="widget">
            <div class="widget-body">
                @{ Html.RenderPartial("_Alerta"); }
                @using (Html.BeginForm("Index", "Servidor", FormMethod.Get))
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_filter">
                            <label>
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm", @type = "search" })
                            </label>
                        </div>
                        <div class="dataTables_length">
                            <label>
                                @Html.DropDownList("ItemsPerPage",
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = @"5", Value = "5", Selected = @Model.PageSize == 5},
                                            new SelectListItem {Text = @"10", Value = "10", Selected = @Model.PageSize == 10},
                                            new SelectListItem {Text = @"25", Value = "25", Selected = @Model.PageSize == 25},
                                            new SelectListItem {Text = @"50", Value = "50", Selected = @Model.PageSize == 50}
                                        }, new { @class = "form-control input-sm", onchange = "this.form.submit();" })
                            </label>
                        </div>
                        <table class="table table-responsive table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th style="width: 120px">CPF</th>
                                    <th style="width: 100px">Matrícula</th>
                                    <th style="width: 50px"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-overflow">@item.Nome</td>
                                        <td>@item.CPF</td>
                                        <td>@item.Matricula</td>
                                        <td class="text-align-center">
                                            <a href="@Url.Action("Detalhar", new {id = @item.Id})" class="btn btn-warning btn-xs icon-only" title="Detalhar"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="dataTables_info">
                                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount (Mostrando @Model.Count de @ViewBag.TotalRegisters)
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7">
                                <div class="dataTables_paginate">
                                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                                            new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageStyles{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
}
