<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description"/>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title - AppConsig</title>
    <!--Basic Styles-->
    @Styles.Render("~/css/bootstrap")
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @Styles.Render("~/css/beyond")
    <link href="~/Content/skins/black.min.css" rel="stylesheet" type="text/css"/>

    <!--Skin Script: Place this script in head to load scripts for skins-->
    @Scripts.Render("~/bundles/skin")

    <!--AppConsig styles-->
    @Styles.Render("~/css/appconsig")

    @RenderSection("PageStyles", required: false)
</head>
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Brand -->
                <div class="navbar-header pull-left">
                    <a href="@Url.Action("Index", "VisaoGeral")" class="navbar-brand">
                        <i class="fa fa-at"></i>ppconsig<small class="themesecondary">Gestor</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Your Content Goes Here -->
    @RenderBody()

    <!--Basic Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Beyond Scripts-->
    @Scripts.Render("~/bundles/beyond")

    <!--Page Related Scripts-->
    @RenderSection("PageScripts", required: false)
</body>
</html>
