@model AppConsig.Entidades.Aviso
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMap.CurrentNode.Title;
    ViewBag.Description = Html.MvcSiteMap().SiteMap.CurrentNode.Description;
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Texto, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Texto, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="form-group">
                    @Html.ActionLink("Editar", "Editar", new { id = @Model.Id }, new { @class = "btn btn-link" })
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    </div>
</div>