@model CriarNovaSenhaModel
@{
    ViewBag.Title = "Acesso";
    ViewBag.Description = "Solicitar nova senha";
    Layout = "~/Views/Shared/_Unauthorized.cshtml";
}
<div class="login-container animated fadeIn">
    <div class="loginbox bg-white">
        <div class="loginbox-title">SOLICITAR NOVA SENHA</div>
        @using (Html.BeginForm("CriarNovaSenha", "Acesso", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-submit">
                <button class="btn btn-block btn-primary" type="submit">Solicitar</button>
            </div>
        }
    </div>
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
