@model AcessoModel
@{
    ViewBag.Title = "Acesso";
    ViewBag.Description = "Acesso de usuarios";
    Layout = "~/Views/Shared/_Unauthorized.cshtml";
}
<div class="login-container animated fadeIn">
    <div class="loginbox bg-white">
        <div class="loginbox-title">ACESSO</div>
        @using (Html.BeginForm("Index", "Acesso", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Senha" })
                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-forgot">
                @Html.ActionLink("Solicitar nova senha?", "CriarNovaSenha")
            </div>
            <div class="loginbox-submit">
                <button class="btn btn-block btn-primary" type="submit">Acessar</button>
            </div>
        }
    </div>
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}