@using System.Web.Configuration
@using AppConsig.Web.Base.Helpers
@model AcessoModel
@{
    ViewBag.Title = "Acesso";
    ViewBag.Description = "Acesso de usuarios";
    Layout = "~/Views/Shared/_Unauthorized.cshtml";
}

<div class="login-alert col-md-6 col-md-offset-3">
    @{ Html.RenderPartial("_Alerta"); }
</div>
<div class="login-container animated fadeIn">
    <div class="loginbox bg-white">
        <div class="loginbox-title">ACESSO</div>
        @using (Html.BeginForm("Index", "Acesso", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.PasswordFor(m => m.Senha, new {@class = "form-control", @placeholder = "Senha"})
                @Html.ValidationMessageFor(m => m.Senha, "", new {@class = "text-danger"})
            </div>
            <div class="loginbox-textbox">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <div class="g-recaptcha" data-sitekey="6LeYMw0TAAAAAA-lJV2Z-r7l_vu0f4wICLmS8np5"></div>
                @*@Html.Captcha().PublicKey(WebConfigurationManager.AppSettings["CaptchaPublicKey"]).Theme(Captcha.CaptchaTheme.Light).Type(Captcha.CaptchaType.Image).Language("pt-BR");*@
                @Html.ValidationMessage("Captcha")
            </div>
            <div class="loginbox-forgot">
                @Html.ActionLink("Solicitar nova senha?", "CriarNovaSenha")
            </div>
            <div class="loginbox-submit">
                <button class="btn btn-block btn-primary" type="submit">Acessar</button>
            </div>
        }
    </div>
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}