@model AcessoModel
@{
    ViewBag.Title = "Acesso";
    ViewBag.Description = "Acesso de usuarios";
    Layout = "~/Views/Shared/_Unauthorized.cshtml";
}
<div class="login-container animated fadeIn">
    <div class="loginbox bg-white">
        <div class="loginbox-title">ACESSO</div>
        @using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("E-mail")
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.Senha).Placeholder("Senha")
                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-forgot">
                @Html.ActionLink("Solicitar nova senha?", "CriarNovaSenha")
            </div>
            <div class="loginbox-submit">
                @Html.Bootstrap().SubmitButton().Text("Acessar").Color(BootstrapColors.Primary).ButtonBlock()
            </div>
        }
    </div>
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}